:root
{
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris:#757575;
}

html
{
    font-size: 62.5%;
}

body
{
    font-size: 16px;   /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
}

.titulo 
{
    text-align: center;
    text-transform:capitalize;
    font-size: 3.2rem;
    font-weight: 700;
   
}

.titulo span
{
    font-size: 2.2rem;
    text-transform:uppercase
}

.nav_fondo
{
    background-color: var(--secundario);
}

.contenedor
{
    max-width: 120rem;
    margin: 0 auto;
}

.navegador_principal
{
    display: flex;
    justify-content: space-between;
}

.navegador_principal a
{
    color: var(--blanco);
    text-decoration: none;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 1.5rem;
}

.navegador_principal a:hover
{
    background-color: var(--primario);
    color: var(--oscuro);
}

